{% extends 'base.html' %} {% load static %} {% block style %}
<style></style>
{% endblock style %} {% block contents %} 

<body>
  <h1>대학생 추천 도서</h1>
  <div class="container">
     <div class="book-container" id="book-container">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="{{item.referenceIdentifier}}" />
            <div class="card-body">
              <p class="card-text">{{item.title}}</p>
              <p class="card-text">{{item.creator}}</p>
              <p class="card-text">{{item.subjectKeyword}}</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="row" id="book-container"></div>
  </div>
</body>
<button id="load-more-button" onclick="loadMoreBooks()">도서 정보 더보기</button>
{% endblock contents %}
{% block script %}
<script src="{% static 'js/book.js' %}"></script>
{% endblock script %}
